
global-include *.mo
global-exclude *.po
global-exclude *.po~
recusice-include funing/data/

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

prune venv
prune funing/_home
prune funing/.lwcp
prune tests


