
global-include * *.mo

recursive-include funing config.example.yml
recursive-include docs *

exclude funing.py
exclude funing.sh
exclude requirements.txt

prune funing/.home/
prune venv/
prune tests/
prune .git/

global-exclude *.po
global-exclude *.pot
global-exclude *.pyc